<div fxLayoutAlign="center center" fxFlexFill>
  <mat-card fxFlex="25" fxLayout="column">
    <mat-toolbar color="warn">Online kórlap kezelő</mat-toolbar>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button routerLink="/registration" type="submit" color="accent">Regisztráció</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center">
      <button mat-raised-button routerLink="/login" type="submit" color="accent">Belépés</button>
    </div>
  </mat-card>
</div>
