@import "~@angular/material/theming";
//@use '~@angular/material' as mat;
@include mat-core();

$my-primary: mat-palette($mat-green,500);
$my-accent: mat-palette($mat-light-green,500);
$my-warn: mat-palette($mat-orange,900);

$my-theme: mat-light-theme($my-primary,$my-accent,$my-warn);

@include angular-material-theme($my-theme);
